{
  "extends": [
  "stylelint-config-standard",
  "stylelint-config-sass-guidelines",
  "stylelint-config-prettier",
  ],
  "rules": {
    "color-named": "always-where-possible",
    "selector-no-qualifying-type": [ true, {
      "ignore": [ "attribute" ]
    } ]
  }
}