.movie {
	align-items: center;
	background-color: $mild-white;
	border-radius: .8rem;
	color: $primary;
	cursor: pointer;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	margin: 1rem auto;
	max-width: 600px;
	padding: 1rem;
	
	.left img {
		border-radius: 1rem;
		height: 200px;
		margin: 0 auto;
	}

	.title {
		font-size: 1.2rem;
		font-weight: bold;
		margin-bottom: 2rem;
	}

	.release-date, .rating {
		font-size: 0.9rem;
	}

	.info {
		grid-column: span 2;
		margin-top: 2rem;
		padding: 1rem;
	}
}