.app {
    align-items: center;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    justify-content: center;
    h2 {
        color: $mild-yellow;
    }
}
